#cuerpo,
#tipos {
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(231, 231, 255, 1) 0%, rgba(123, 231, 252, 1) 100%);
}

#cuerpo>div {
    height: 90vh;
    overflow: hidden;
}

body {
    overflow: hidden;
}

#brand {
    height: 3rem;
    position: relative;
    margin-top: 3rem;
}

.separador {
    height: 0;
    padding: 10px;
    position: relative;
    margin-top: -4rem;
}

.caja-brand {
    height: 10rem;
    border-radius: 5rem 5rem 5rem 5rem;
    width: 10rem;
    display: inline-block;
    position: relative;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.527);
    border-style: solid;
    border-width: 0.5rem;
    z-index: 100;
}

.franja-negra {
    border-bottom-style: solid;
    border-width: 1.5rem;
}

.scrolling {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 75vh;
    background: #ffcd04de;
    border-radius: 5rem;
    width: 20rem;
    display: inline-block;
}

.scrolling>span {
    background: #ffcd04;
    width: 75%;
    display: inline-block;
    border-radius: 5rem;
    box-shadow: 0 0 10px rgb(33, 37, 41);
}

#columna-pokemon {
    height: 75vh;
}

#sprite {
    display: block;
    height: 150px;
    width: auto;
}

@media only screen and (max-width: 768px) {
    .scrolling {
        height: 20vh;
        width: 20rem;
        border-radius: 2rem;
    }
     ::-webkit-scrollbar {
        display: none;
    }
    body {
        overflow: auto;
    }
    .caja-brand {
        position: relative;
        align-self: center;
        margin-top: -40px;
    }
    #cuerpo>div {
        overflow: auto;
    }
    .card {
        width: 20rem !important;
    }
    .tipos {
        padding: -4px !important;
        margin: 0 !important;
        border-radius: 5px !important;
        font-size: 8px;
    }
    #tabla-3 {
        margin: 0;
        text-align: center;
    }
}

::-webkit-scrollbar {
    background: rgb(175, 172, 240);
    border-radius: 2em;
    border: solid 3px transparent;
}

::-webkit-scrollbar-track {
    background: #212529;
    border-radius: 2em;
}

::-webkit-scrollbar-thumb {
    background: #EFBF02;
    border-radius: 1em;
    border: solid 3px transparent;
    box-shadow: inset 0 0 10px 10px rgb(43, 42, 42);
}

::-webkit-scrollbar-track {
    border: solid 3px transparent;
}

.scrolling tr:hover {
    cursor: pointer;
    transform: scale(1.5, 1.5);
}

.card {
    display: inline-block;
    background: #a3a3a291;
    border: #212529;
    border-width: 0.5rem;
    border-radius: 5em;
    width: 35rem;
    border-style: solid;
    overflow-y: hidden;
}

.scrolling>span {
    position: sticky;
    top: 10px;
}

.grass {
    background-color: green;
}

.bug {
    background-color: rgb(32, 66, 10);
}

.flying {
    background-color: darkgrey;
}

.normal {
    background-color: darkkhaki;
}

.fighting {
    background-color: orange;
}

.poison {
    background-color: purple;
}

.ground {
    background-color: saddlebrown;
}

.rock {
    background-color: goldenrod;
}

.ghost {
    background-color: mediumorchid;
}

.steel {
    background-color: thistle;
}

.fire {
    background-color: orangered;
}

.water {
    background-color: #4592C4;
}

.psychic {
    background-color: deeppink;
}

.ice {
    background-color: #51C4E7;
}

.dragon {
    background-color: #F16E57;
}

.dark,
.shadow {
    background-color: #363434ce;
}

.fairy {
    background-color: pink;
}

.unknown {
    background-color: rgba(240, 255, 255, 0.63)
}

.electric {
    background-color: yellow;
}

.tipos {
    border: none !important;
    color: black !important;
    padding: 10px 15px !important;
    text-align: center !important;
    background-position: bottom !important;
    text-decoration: none !important;
    display: inline-block !important;
    margin: 4px 2px !important;
    cursor: pointer !important;
    border-radius: 30px !important;
    box-shadow: 0 0 10px;
}

#tipos {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 90vh;
}

#tabla-3 {
    width: 80vw;
    margin: 5vw auto;
}

#tabla-3 thead {
    position: sticky;
    top: 7vw;
}